.likeButton {
    width: 20px;
    background-color: green;
}


.movie p img {
    size: 2rem;
}

#header {
    background-color: black;
}

.movie {
    background-color: rgb(32, 29, 29);
    border: 2rem solid #343a40;
    padding-left: 0;
    padding: 0.5rem 0 0.5rem 0;
}



#footerh {
    text-align: center;
}

span {
    line-height: 70%;
}