.likeButton {
    width: 20px;
}

#header {
    background-color: black;
}
#navBar{
    background-color: rgb(32, 29, 29);
}

.movie {
    background-color: rgb(32, 29, 29);
    border: 2rem solid #343a40;
    padding-left: 0;
    padding: 0.5rem 0 0.5rem 0;
}
.movie img {
    border-radius: 50;
}
#footer {
    background-color: black;
}
#footerh {
    text-align: center;
}

span {
    line-height: 70%;
}
.rating {
    padding-left: 3.5rem;
    color: rgb(66, 185, 224);
}